.service-list li {
    cursor: move;
    position: relative;
}

.service-list li.enabled-service:after,
.service-list li.disabled-service:after {
    color: #4ba508;
    content: '\F00C';
    font-family: 'FontAwesome';
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 5px;
}

.service-list li.disabled-service:after {
    color: #E6E6E6;
    content: '\F05E';
}

.setting-field .service-description {
    color: gray;
    margin-bottom: 10px;
}

.placeholder {
    width: 100%;
    overflow: hidden;
    background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #01bf75;
    padding: 12px 30px 12px 45px;
}

.placeholder:hover {
    background-color: #476e9e;
}

.placeholder:active {
    position: relative;
    top: 1px;
}

.placeholder:before {
    position: absolute;
    left: 0;
    width: 40%;
    font-size: 160%;
    line-height: 0.8;
    color: #01bf75;
}

.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 150px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
}